   #app {
       background: #263238;
       display: flex;
       align-items: stretch;
       justify-content: stretch;
       height: 100%;
   }

   .sidebar {
       background: #eceff1;
       min-width: 250px;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       overflow: auto;
   }

   h2 {
       font-weight: normal;
       font-size: 1.0rem;
       background: #0275d8;
       color: #fff;
       padding: 10px;
       margin: 0;
   }

   .sidebar ul {
       margin: 0;
       padding: 0;
       list-style-type: none;
   }

   .sidebar li {
       line-height: 175%;
       white-space: nowrap;
       overflow: hidden;
       text-wrap: none;
       text-overflow: ellipsis;
   }

   .cameras ul {
       padding: 15px 20px;
   }

   .cameras .active {
       font-weight: bold;
       color: #0275d8;
   }

   .cameras a {
       color: #555;
       text-decoration: none;
       cursor: pointer;
   }

   .cameras a:hover {
       text-decoration: underline;
   }

   .scans li {
       padding: 10px 20px;
       border-bottom: 1px solid #ccc;
   }

   .scans-enter-active {
       transition: background 3s;
   }

   .scans-enter {
       background: yellow;
   }

   .empty {
       font-style: italic;
   }

   .preview-container {
       /*flex-direction: column;
   align-items: center;
   justify-content: center;
   display: flex;
   width: 100%;
   overflow: hidden;*/
   }

   #preview {
       /*width: 300px;*/
       height: 250px;
       outline: 1px solid red;
   }

   .sweet-alert h2 {
       color: #fff;
   }

   @media screen and (max-width: 420px) {
       .sidebar {
           width: 100%;
           position: relative;
       }

       #app {
           display: block;
           height: 100%;
       }

       video {
           display: block;
           width: 100%;
           max-height: 250px;
           padding: 2px;
       }

       .preview-container {
           display: block;
           width: 100%;
           overflow: scroll;
       }

       section {
           margin-top: 0;
           margin-bottom: 0;
       }
   }